<%- include('partials/header'); %>
<div class="px-3 py-2 border-bottom mb-3 loginSignup">
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="text-end" style="padding:0% 0% 0% 85%;">
        <button type="button" class="btn btn-light text-dark me-2" onclick="window.location.href ='http://localhost:3000/login'">Login</button>
        <button type="button" class="btn btn-success" onclick="window.location.href ='http://localhost:3000/signup'">Sign-up</button>
      </div>
    </div>
  </div>
<div>
    <img src="images/plane.jpg" alt="Plane">
    <div class="text">AVION <br>DATABASE  <br> MANAGEMENT <br> SYSTEM</div>
</div>
<%- include('partials/footer'); %>